
/* shared style  */
.text-gray{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.375rem;
}
.text-center{
    text-align: center;
}

.list-none{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 32px;
    
}
.text-none{
    text-decoration: none;
    color: #8987A1;
    margin-bottom: 32px;
    
}


/* header styles */

.header{
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;
}
.nav-list{
    display: flex;
    gap: 48px;
    list-style: none;
}
.nav-list li a{
    text-decoration: none;
    
}
#home{
    color: #252432;
}
#shop,#about{
    color: #8987A1;
}
#cart{
    color: rgba(0, 0, 0, 0.74);
}

/* banner styles */
.banner{
    display: flex;
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 125px;
}
#banner-title{
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 0;
}
.fresh-flower{
    color:#E95A08 ;
}
.banner-descript{
    max-width: 570px;
    margin-top: 13px;
    font-size: 1.375rem;
}

/* plant gallery */

.gallery{
    max-width: 1140px;
}
.gallery-title{
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 120px;
}

.our{
    color: #E95A08;
}
.gallery-intro{
    text-align: center;
    max-width: 880px;
    margin: 0 auto;
    font-size: 1.375rem;
    margin-top: 13px;
}

.card-container{
    max-width: 1140px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px ;
    margin: 0 auto;
    margin-top: 49px;
    
}

.name-price,.usd{
    text-align: center;
}
.lily{
    font-size: 22px;
    font-weight: medium;
}
.usd{
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;

}
.add{
    color: white;
    padding:26px 50px;
    border: none;
    margin: 0;
    background-color: #E95A08;
    width: 100%;
}

/* gardener styles */

.badge{
    height: 286px;
    width: 286px;
    margin-left: -250px;
    margin-top: -130px;
    
}
.gardener{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1140px;
    gap: 60px;
    margin: 0 auto;
    margin-top: 210px;
}
.gardener.title{
    font-weight: bold;
    font-size: 50px;
}
.gardener-description{
    margin-left: -230px;
}
.gardener-facts{
    font-size: 1.375rem;
}
.deals{
    margin-top: 135px;
    text-align: center;
}
.l-deals{
    font-weight: bold;
    font-size: 50px;
}
.latest{
    color: #E95A08;
}
.deal-done{
    font-size: 1.375rem;
    max-width: 800px;
    margin: 0 auto;
}

/* offer styles */
.offers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    margin: 0 auto;
    max-width: 1140px;
    margin-top: 120px;
}
.image-2{
    margin-top: 20px;
}

.offer-3{
    grid-column: span 2;
    grid-row: span 2;
   

}
.image-1,.image-2,.image-3{
    border-radius: 8px;
}

.text-3{
    position: absolute;
    bottom: 70%;
    left: 25%;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
}
.link-3{
    position: absolute;
    bottom: 70%;
    left: 40%;
     color: white;
    font-weight: 600;
    font-size: 1.75rem;
}

.offer-1,.offer-2,.offer-3{
    position:relative ;
}
.text-1,.text-2{
    position: absolute;
    top: 30%;
    left: 25%;
    color: white;
    font-weight: bold;
    font-size: 1.50rem;
}

.link-1,.link-2{
    position: absolute;
    top: 50%;
    left: 35%;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    
}
.off-1,.off-2,.off-3{
    border-right: 3px solid white;
    padding-right: 10px;
}

/* pre-footer styles */
.letter-bg{
    width: 100%;

}
.prefooter{
    position: relative;

}



.join-text{
    font-weight: 700;
    font-size: 3.125rem;
    color: white;
    position: absolute;
    bottom: 50%;
    left: 35%;

}

.identity{
    display: flex;
    position: absolute;
    gap: 0px;
    bottom: 40%;
    left: 25%;
}
.sub{
    color: white;
    background-color: #E95A08;
    padding: 0px 50px;
    height: 54px;
    border: none;
    font-weight: 600;
}

.identity input{
    width: 644px;
    height: 50px;
    
}

/* footer styles */
.social-media{
    display: flex;
    gap: 24px;
}
footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 50px;
}






@media screen and (max-width:576px) {
    .header,.gallery-intro{
        width:100%;
    }
    .header{
        
        justify-content:space-between ;
    }
   
    
    #home,#shop,#about{
        display: none;
    }
    .hero-img,.banner,.card-image,#cart,.prefooter,
    .identity,.letter-bg
    {
        width: 100%;
        
    }
    .banner{
        flex-direction: column-reverse;

    }
    .banner-title{
        font-size: 20px;
    }
    .banner-descript,.gallery-intro{
        font-size: 14px;
    }
   
    .card-img{
        
        width: 100%;
        
    }
    
    .card-container{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
    }
    .card{
        width: 100%;
    }
    
    .badge{
        display: none;
    }   
    .gardener-img{
        width: 100%;
    }
    .gardener-description{
        width: 100%;
        margin-top: -30px;
        margin-left: 5px;
        
    }
    .gardener{
        grid-template-columns: repeat(1,1fr);
    } 
    .offers{
        grid-template-columns: repeat(1,1fr);
    }  
    .image-3,.image-1,.image-2{
        width: 100%;
    }
    .image-3{
        overflow: hidden;
    }
    

    .join-text{
        font-size: 1.25rem;
        margin-left: -30px;
    }
    .identity{
        max-width: 321px;
        margin-left: -50px;
        margin-bottom:-40px;
    }
    .letter-bg{
        height: 276px;
    }
    
    .sub{
        max-width: 100px;
        padding-left: 15px;
    }
    
    footer{
        grid-template-columns: repeat(1,1fr);
    }
        
    
}


    
